body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

#container {
  background-color: white;
}
.right-pane {
  background-color: white;
  width: 45vw;
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  /* width: 60%; */
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 5px;
  margin: 0 auto;
  /* width: 50px; */
  height: 50px;
  background-color: white;
}

#img-container {
  max-width: 100%;
  max-height: 50%;
}

.loginContainer {
  margin-top: 16vh;
  margin-left: 7vh;
  margin-right: 3vh;
  padding: 30px;
}

#headingText {
  font-size: 1.5rem;
}
#highlighted {
  color: #099dfd;
}

#email {
  margin-top: 20px;
  margin-bottom: 10px;
}

#password {
  margin-bottom: 10px;
}

input {
  margin-top: 10px;
  padding: 5px;
  width: 90%;
  font-size: 1.25rem;
  border: 2px solid #099dfd;
  border-radius: 5px;
}
.submitButton {
  background-color: #099dfd;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-right: 30px;
  padding-left: 40px;
  color: #099dfd;
  border: none;
  font-size: 1.25rem;
  border-radius: 4px;
}

#flexContainer {
  display: flex;
  flex-direction: row;
  /* padding: 20px; */
  margin-left: 100px;
  margin-top: 15px;
  margin-bottom: 45px;
  margin-right: 100px;
  box-shadow: 0px 0px 1px 1px lightgray;
  box-shadow: blur;
  height: 90vh;
  max-height: 80vh;
}

#left-pane {
  flex: 1;
  text-align: center;
  width: 42vw;
  background-color: #099dfd;
}

#picture {
  display: flex;
  margin: 0 auto;
  margin-top: 80px;
  width: 550px;
  /* height: 400px; */
  /* border-radius: 1000px; */
  /* background-color: #ffffff4b; */
  justify-items: center;
  margin-bottom: 80px;
}

#illustration {
  max-width: 65%;
  max-height: 65%;
}

#illustrationContainer {
  width: 500px;
  margin: auto;
  padding-bottom: 30px;
}

#bottomText {
  font-size: 1.65rem;
  color: white;
  padding-left: 30px;
  padding-right: 50px;
}
